@font-face {
  font-family: "Inter";
  font-style: normal;
  src: local(""),
    url("fonts/Inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

* {
  font-family: "Inter";
  font-weight: 400;
  color: #494f5a;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h2 {
  text-transform: uppercase;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f5f5f4;
}

ul {
  gap: 20px;
}

li {
  margin: 1em;
}

#widthContainer {
  display: flex;
  padding: 0rem 15%;
  max-width: 1000px;
  flex-direction: column;
}

.imgContainer {
  background-color: #d2d5d2;
  padding: 10px;
}

.scrollable {
  max-height: 575px;
  overflow-y: scroll;
}

.screenshot {
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  background-color: #d2d5d2;
}

button {
  border: 0px;
  border-radius: 20px;
  color: #494f5a;
  background-color: #d2d5d2;
  padding: 10px;
  box-shadow: 0px 1px 3px rgb(0, 0, 0);
  cursor: pointer;
}

.bold {
  font-weight: 600;
}

hr {
  border-top: 1px solid #494f5a;
  width: 100%;
}

h3 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
